<div class="form-group col-sm-12" style="height:auto; float:left; width:100%;" >
  <label>Zaal</label>
  <div class="col-sm-10">
	  <select ng-model="hallReservation.hall" style='float:left; width: auto;' required>
	    <option ng-repeat="hall in halls"
	    		ng-selected="checkedHall(hall)"
	            value="{{hall}}">
	      {{hall.description}} ({{hall.numberOfSeats}} zitplaatsen)
	    </option>
		</select>
	</div>
</div>

<div id="hallReservationOptions" class="form-group" style="height:auto; float:left; width:100%;">
  <label>Zaal opties</label>
  <div class="col-sm-10">
	  <span ng-repeat="hallOption in hallOptions" style="font-family:arial; font-size:14px;">
		  <input
		    type="checkbox"
		    name="selectedHallOptions[]"
		    value="{{hallOption}}"
		    ng-checked="checkedHallOptions(hallOption)"
		    ng-click="toggleSelection(hallOption.description)"
		  > {{hallOption.description}} <small>(+&#8364;{{hallOption.price}})</small>
		</span>
	</div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn save" value="Opslaan"/>
    <a class="btn back" ui-sref="hallReservations()">Terug naar begin</a>
  </div>
</div>