<ins data-role="customer,manager"></ins>
	<table class="table movietable">
	  <tr>
	    <td><h3>Details van reservering {{hallReservation.id}}</h3></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Zaal</td>
	    <td>{{hallReservation.hall.description}} (aantal zitplaatsen: <b>{{hallReservation.hall.numberOfSeats}})</b></td>
	  </tr>
	  <tr>
	    <td>Toevoegingen</td>
	    <td>
	    	<span ng-repeat="hallOption in hallReservation.hallOptions">{{hallOption.description}} </span>
	    </td>
	  </tr>
   		<tr>
	    <td>Data (+ tijd)</td>
	    <td>
	    	<span ng-repeat="partOfDay in hallReservation.partOfDays" style="width:100%; float:left;">{{partOfDay.date}} <small>({{partOfDay.partOfDay}})</small></span>
	    </td>
	  </tr>
	  <tr>
	    <td>Totaal prijs</td>
	    <td>
	    	<b>&#8364;{{hallReservation.totalPrice}}</b>
	    </td>
	  </tr>
	  <tr>
	  <td>
	  <div  class='message'></div>
	  </td>
	  <td>
	  <div style="float:left; width:100%;" id="actionContainer">
	  	<a ng-repeat="action in hallReservation.actions" style="width:auto; color:#000 !Important; border:1px solid #ccc; padding:8px;  float:right !Important; margin-left:15px !important;" ng-click=performAction(action)><msg key="label_{{hallReservation.state}}_{{action}}"></msg></a>
	  </div>
	  </td>
	  </tr>
	</table>
	<div>
	 	<a class="btn new btn-wijzigen" ui-sref="editHallReservation({id:hallReservation.id})">Wijzigen</a>
	  	<a class="btn back" ui-sref="hallReservations()">Terug naar begin</a>
	</div>
